<h1>Contestants</h1>

<% @contestants.each do |contestant| %>
  <h4><%= contestant.name %></h4>
  <p>Projects:<br>
  <% contestant.projects.each do |project| %>
    <%= project.name %><br>
  <% end %>
<% end %>
