<h1>All Contestants</h1>

<div class='contestant' >
<% @contestants.each do |contestant| %>
  <%= contestant.name %><br>
  Projects:<br>
  <% contestant.projects.each do |project| %>
    <%= project.name %><br>
  <% end %>
<% end %>
</div>