<h1>Contestants</h1>
<% @contestants.each do |contestant| %>
  <h3><%= contestant.name %></h3>
  <h4>Projects: <% contestant.projects.each do |project|%> </h4>
  <p><%= project.name %></p>
  <% end %>

<br>
<% end  %>