</h1>All Contestants</h2>

<% @contestants.each do |contestant| %>
  <ul>
    <%= contestant.name %> Projects:<br/>
      <% contestant.projects_portfolio.each do |project|%>
            <%= project.name %>, 
          <% end %>
  </ul>
<% end %>