<h1>Here are our contestants!</h1>

<% @contestants.each do |contestant|%>
  <p><%= contestant.name %></p>
  <p>Projects</p>
    <% contestant.projects.each do |project| %>
      <p><%= project.name%></p>
    <% end %>
<% end %>