<h1>Contestants</h1>
<ul><% @contestants.each do |contestant| %>
<li><div id="<%=contestant.id%>"><h4><%= contestant.name %></h4>
<p>Project(s): <br>
<% contestant.projects.each do |project| %>
<%= project.name %><br> 
<% end %></p>
</div>
<% end %>
