<h2><%= @project.name %></h2>
<h4>Material: <%= @project.material %></h4>
<h4>Challenge Theme: <%= @project.get_challenge.theme %></h4>
<h4>Number of Contestants: <%=@project.get_contestant_count%></h4>