<h1>Project <%= @project.name %></h1>

<ul>
  <li>Material: <%= @project.material %></li>
  <li>Challenge Theme: <%= @project.challenge.theme %></li>
  <li>Number of Contestants: <%= @project.contestant_count %></li>
</ul>