<h1>Project Details</h1>

<h3><%= @project.name %></h3>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @challenge.theme %></p>
<p>Number of Contestants: <%= @project.count_contestants %></p>