<h1>Project Name: <%= @project.name %> </h1>
  <p>
    <b>Material:</b> <%= @project.material %><br>
    <b>Challenge Theme:</b> <%= @theme %><br>
    <b>Number of Contestants:</b> <%= @project.contestant_count %>
  </p>


