<h1>Projects</h1>
<h3>Challenge Name: <%= "#{@project.name}" %></h3>
<p>Challenge Theme: <%= "#{@project.challenge.theme}" %></p>
<p>Material: <%= "#{@project.material}" %></p>
<p>Number of Contestants: <%= "#{@project.contestants.count}" %></p>